/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$white: #fff;

$body-background-color: #333;
$color-primary: #eccab8;
$color-secondary: #6cedfc;
$color-tertiary: #87aeaa;
$color-black-trans-light: rgba(0, 0, 0, .35);
$color-black-trans-hard: rgba(0, 0, 0, .9);

/* Components */
